.container {
  height: 1000px;
  width: 1000px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  border: #f2f2f2;
  margin: 15px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}