.container {
  height: 260px;
  width: 260px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  border: #f2f2f2;
  margin: 15px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
